#actions > * {
  box-sizing: border-box;
}

#actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  height: 100%;
  background-color: #3a3033;
}

.action {
  display: flex;
  justify-content: space-around;
}

.action > .box {
  background: url(../assets/tool/slot.png) no-repeat center center/cover;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; */
}

/* tools */

#tools > .box {
  width: 70px;
}

#tools div[category="tool"] {
  width: 70px;
  height: 70px;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 10px ridge #808080;
  box-sizing: border-box;
  background-color: #54512c;
}

#tools div[category="tool"]:hover {
  border: 10px double #3a3033;
}

/* inventory */
#inventory {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#inventory > div {
  margin: 10px;
}

#inventory div[category="inventory"] {
  width: 70px;
  height: 70px;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  border: 10px ridge #808080;
  box-sizing: border-box;
}

#inventory div[category="inventory"]:hover {
  border-color: #423e3e;
}

/* reset */
.action > div > div[id="reset"] {
  background: url(../assets/tool/reset.png) no-repeat center center/cover;
  width: 50px;
  height: 50px;
  border: transparent;
}

.action > div > div[id="reset"]:active {
  transform: translateY(3px) translateX(1px);
}
